<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Page Title -->
    <title>Seoul Bike Prediction</title>
</head>
<body>
    <nav class="blue-grey darken-2" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="https://github.com/Ghani-Haider" target="_blank" class="brand-logo">Ghani Haider | Data Science Portfolio</a>
            <!-- <ul class="right hide-on-med-and-down">
                <li><a href="#">Navbar Link</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
        </div>
    </nav>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text darken-1">Seoul Bike Rent Prediction</h1>
            <div class="row center">
                <h5 class="header col s12 light">This <a href="https://archive-beta.ics.uci.edu/dataset/560/seoul+bike+sharing+demand" target="_blank">dataset</a> contains count of public bicycles rented per hour in the Seoul Bike Sharing System, with corresponding weather data and holiday information. For more information please click <a href="https://github.com/Ghani-Haider/Data_Science_Portfolio/blob/main/Regression_Projects/Seoul%20Bike%20Rent/Seoul_Bike_Rent.ipynb">here</a>.<br></h5>
            </div>
            <!-- form row -->
            <div class="row">
            <!-- the order of input matters ! -->
            <form action="{{url_for('predict')}}" method="post" class="col s12">
                <div class="row">
                <!-- hour -->
                <div class="input-field col s4">
                    <label for="hour"><b>Hour (0-23)</b></label><br>
                    <input type="number" step="1" min="0" max="23" name="hour" id="hour" required="required" class="validate"/>
                </div>
                <!-- temperature -->
                <div class="input-field col s4">
                    <label for="temperature"><b>Temperature(°C)</b></label><br>
                    <input type="number" step="any" name="temperature" id="temperature" required="required" class="validate"/>
                </div>
                <!-- humidity -->
                <div class="input-field col s4">
                    <label for="humidity"><b>Humidity (%)</b></label><br>
                    <input type="number" step="any" name="humidity" id="humidity" required="required" class="validate"/><br>
                </div>
                <!-- windspeed -->
                <div class="input-field col s4">
                    <label for="windspeed"><b>Wind speed (m/s)</b></label><br>
                    <input type="number" step="any" name="windspeed" id="windspeed" required="required" class="validate"/><br>
                </div>
                <!-- visibility -->
                <div class="input-field col s4">
                    <label for="visibility"><b>Visibility (10m)</b></label><br>
                    <input type="number" step="any" name="visibility" id="visibility" required="required" class="validate"/><br>
                </div>
                <!-- Solar Radiation -->
                <div class="input-field col s4">
                    <label for="solarradiation"><b>Solar Radiation (MJ/m2)</b></label><br>
                    <input type="number" step="any" name="solarradiation" id="solarradiation" required="required" class="validate"/><br>
                </div>
                <!-- rainfall -->
                <div class="input-field col s4">
                    <label for="rainfall"><b>Rainfall (mm)</b></label><br>
                    <input type="number" step="any" name="rainfall" id="rainfall" required="required" class="validate"/><br>
                </div>
                <!-- snowfall -->
                <div class="input-field col s4">
                    <label for="snowfall"><b>Snowfall (cm)</b></label><br>
                    <input type="number" step="any" name="snowfall" id="snowfall" required="required" class="validate"/><br>
                </div>
            </div>
                <!-- seasons -->
                <div class="row">
                <div class="input-field col s3">
                    <label for="Seasons"><b>Seasons</b></label><br>
                    <!-- <input type="radio" name="seasons" id="winter" value="Winter" checked>
                    <label for="winter">Winter</label>
                    <input type="radio" name="seasons" id="summer" value="Summer">
                    <label for="summer">Summer</label>
                    <input type="radio" name="seasons" id="autumn" value="Autumn">
                    <label for="autumn">Autumn</label>
                    <input type="radio" name="seasons" id="spring" value="Spring">
                    <label for="spring">Spring</label> -->
                    <p>
                        <label>
                            <input class="with-gap" name="seasons" id="Winter" value="Winter" type="radio" checked />
                            <span>Winter</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" name="seasons" id="Summer" value="Summer" type="radio" />
                            <span>Summer</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" name="seasons" id="Spring" value="Spring" type="radio" />
                            <span>Spring</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" name="seasons" id="Autumn" value="Autumn" type="radio" />
                            <span>Autumn</span>
                        </label>
                    </p>
                </div>
                <!-- holiday -->
                <div class="input-field col s3">
                    <label for="Holiday"><b>Holiday</b></label><br>
                    <p>
                        <label> 
                            <input class="with-gap" name="Holiday" id="Holiday" value="Holiday" type="radio" checked />
                            <span>Holiday</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" name="Holiday" id="No Holiday" value="No Holiday" type="radio" />
                            <span>No Holiday</span>
                        </label>
                    </p>
                </div>
                <!-- functioning day -->
                <div class="input-field col s3">
                    <label for="Functioning Day"><b>Functioning Day</b></label><br>
                    <p>
                        <label>
                            <input class="with-gap" name="functioningday" id="functioningday Yes" value="Yes" type="radio" checked />
                            <span>Yes</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" name="functioningday" id="functioningday No" value="No" type="radio" />
                            <span>No</span>
                        </label>
                    </p>
                </div>
                <!-- weekday -->
                <div class="input-field col s3">
                    <label for="Weekday"><b>Weekday</b></label><br>
                    <p>
                        <label>
                            <input class="with-gap" name="weekday" id="weekday Yes" value="Yes" type="radio" checked />
                            <span>Yes</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" name="weekday" id="weekday No" value="No" type="radio" />
                            <span>No</span>
                        </label>
                    </p>
                </div>
                </div>
                
                <div class="row center">
                    <!-- button for prediction -->
                    <button type="submit" class="btn-large waves-effect waves-light teal darken-1">Predict Probability</button>
                </div>
            </form>
        </div>
        <!-- predicted value to be displayed -->
        <br><h4 align="center"<b>{{prediction_txt}}</b></h4>
        <br>
    </div>
    <div>
    <!-- footer -->
    <footer class="page-footer blue-grey darken-1">
        <div class="footer-copyright blue-grey darken-1">
            <div class="container">
                Made by Ghani Haider<!--  &#169; Ghani_Haider_2023 -->
            </div>
        </div>
    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>